In [1]:
import pandas as pd
# read the data
df = pd.read_csv('corporate_messaging.csv', encoding='latin-1')
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,category,category:confidence,category_gold,id,screenname,text
0,662822308,False,finalized,3,2/18/15 4:31,Information,1.0,NaN,4.365280e+17,Barclays,Barclays CEO stresses the importance of regula...
1,662822309,False,finalized,3,2/18/15 13:55,Information,1.0,NaN,3.860130e+17,Barclays,Barclays announces result of Rights Issue http...
2,662822310,False,finalized,3,2/18/15 8:43,Information,1.0,NaN,3.795800e+17,Barclays,Barclays publishes its prospectus for its å£5....
3,662822311,False,finalized,3,2/18/15 9:13,Information,1.0,NaN,3.675300e+17,Barclays,Barclays Group Finance Director Chris Lucas is...
4,662822312,False,finalized,3,2/18/15 6:48,Information,1.0,NaN,3.603850e+17,Barclays,Barclays announces that Irene McDermott Brown ...

In [2]:
df.shape

(3118, 11)

In [3]:
# count the values in category
df.category.value_counts()

Information    2129
Action          724
Dialogue        226
Exclude          39
Name: category, dtype: int64

In [5]:
# narrow down to rows with a confidence of 1 and catogory that is not Exclude
df = df[(df['category:confidence']==1) & (df['category']!='Exclude')]
df.category.value_counts()

Information    1823
Action          456
Dialogue        124
Name: category, dtype: int64

In [6]:
# load and view text and category data
X = df.text.values
X[0]

'Barclays CEO stresses the importance of regulatory and cultural reform in financial services at Brussels conference  http://t.co/Ge9Lp7hpyG'

In [9]:
X.shape

(2403,)

In [8]:
y = df.category.values
y[0]

'Information'

In [10]:
y.shape

(2403,)

In [15]:
# the load data function combines the code above
file = 'corporate_messaging.csv'
def load_data(file):
  df = pd.read_csv(file, encoding='latin-1')
  df = df[(df['category:confidence']==1) & (df['category']!='Exclude')]
  X = df.text.values
  y = df.category.values
  return X, y

# test the load function
X, y = load_data(file)
X.shape, y.shape

((2403,), (2403,))

In [16]:
# refractor code