In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Assign the dataframe to this variable.
# TODO: Load the data
bmi_life_data = pd.read_csv("bmi_and_life_expectancy.csv")
bmi_life_data.head()

       Country  Life expectancy       BMI
0  Afghanistan             52.8  20.62058
1      Albania             76.8  26.44657
2      Algeria             75.5  24.59620
3      Andorra             84.6  27.63048
4       Angola             56.7  22.25083

In [4]:
# Make and fit the linear regression model
#TODO: Fit the model and Assign it to bmi_life_model
bmi_life_model = LinearRegression()
bmi_life_model.fit(bmi_life_data[['BMI']], bmi_life_data[['Life expectancy']])

LinearRegression()

In [12]:
bmi_life_data[['BMI']]

          BMI
0    20.62058
1    26.44657
2    24.59620
3    27.63048
4    22.25083
..        ...
158  26.78926
159  26.57750
160  20.91630
161  20.68321
162  22.02660

[163 rows x 1 columns]

In [15]:
# Make a prediction using the model
# TODO: Predict life expectancy for a BMI value of 21.07931
laos_life_exp = bmi_life_model.predict([[21.07931]])

In [17]:
laos_life_exp

array([[60.31564716]])